language: groovy
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
script:
  - ./grailsw clean -non-interactive -plain-output
  - ./grailsw refresh-dependencies -non-interactive -plain-output
  - ./grailsw test-app -non-interactive -plain-output